<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.karim.karim.repository.FileRepository">

    <select id="save" parameterType="map" resultType="FileDto">
        insert into file_info (board_id, save_folder, original_file, save_file)
        values (#{board_id}, #{save_folder}, #{original_file}, #{save_file}
    </select>

</mapper>
