<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.karim.karim.repository.FileRepository">

    <resultMap type="com.karim.karim.dto.FileDto" id="FileDto">
        <result column="board_id" property="boardId"/>
        <result column="save_folder" property="saveFolder"/>
        <result column="original_file" property="originalFile"/>
        <result column="save_file" property="saveFile"/>
    </resultMap>

    <insert id="save" parameterType="FileDto">
        INSERT INTO file (board_id, save_folder, original_file, save_file)
        VALUES (#{boardId}, #{saveFolder}, #{originalFile}, #{saveFile})
    </insert>

    <delete id="deleteByBoardId" parameterType="int">
        DELETE FROM file WHERE board_id = #{boardId}
    </delete>

    <select id="findByBoardId" parameterType="int" resultMap="FileDto">
        SELECT board_id, save_folder, original_file, save_file
        FROM file
        WHERE board_id = #{boardId}
    </select>

</mapper>
