<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="MemberDto" type="com.karim.karim.dto.MemberDto"/>
        <typeAlias alias="PlaceDto" type="com.karim.karim.dto.PlaceDto"/>
        <typeAlias alias="PlanDto" type="com.karim.karim.dto.PlanDto"/>
        <typeAlias alias="HelpDto" type="com.karim.karim.dto.HelpDto"/>
        <typeAlias alias="AttractionDto" type="com.karim.karim.dto.AttractionDto"/>
        <typeAlias alias="BoardDto" type="com.karim.karim.dto.BoardDto"/>
        <typeAlias alias="FileDto" type="com.karim.karim.dto.FileDto"/>
        <typeAlias alias="CommentDto" type="com.karim.karim.dto.CommentDto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/MemberMapper.xml"/>
        <mapper resource="mybatis/PlanMapper.xml"/>
        <mapper resource="mybatis/PlaceMapper.xml"/>
        <mapper resource="mybatis/AttractionMapper.xml"/>
        <mapper resource="mybatis/BoardMapper.xml" />
        <mapper resource="mybatis/FileMapper.xml"/>
        <mapper resource="mybatis/CommentMapper.xml"/>
        <mapper resource="mybatis/HelpMapper.xml"/>
    </mappers>
</configuration>
